.error-message {
  color: #f00;
}

 .checked-row {
            text-decoration: line-through;
        }

td input[type="checkbox"] {
    margin: auto; /* 左右中央揃え */
    margin-top: 6px;
    display: block; /* ブロック要素に変更 */
		}

/* 過去の日付のセルのスタイル */
.past-date {
    color: red; 
}
        
        